Repository voxpupuli/onceover, pull requests merged in 2024-11, with the labels that each got.

#339 add rexml gem to fix chocolatey tests
  Gemfile
Labels: bug

#342 Require Ruby 2.7 & rubocop: Use voxpupuli-rubocop
  .github/workflows/tests.yaml
  .gitignore
  .rubocop.yml
  .rubocop_todo.yml
  Rakefile
  onceover.gemspec
Labels: backwards-incompatible

#335 Add support for downloading *_core modules
  .rubocop_todo.yml
  README.md
  features/auto_vendored.feature
  lib/onceover/cli/run.rb
  lib/onceover/deploy.rb
  lib/onceover/rake_tasks.rb
  lib/onceover/vendored_modules.rb
  spec/fixtures/controlrepos/vendored/Puppetfile
  spec/fixtures/controlrepos/vendored/Puppetfile.cron
  spec/fixtures/controlrepos/vendored/environment.conf
  spec/fixtures/controlrepos/vendored/site-modules/role/manifests/cron.pp
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/augeas_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/augeas_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/cron_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/cron_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/host_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/host_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/mount_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/mount_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/repo_tree-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/repo_tree-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/scheduled_task-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/scheduled_task-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/selinux_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/selinux_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/sshkeys_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/sshkeys_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/yumrepo_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/yumrepo_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/zfs_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/zfs_core-puppet_agent-8.6.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/zone_core-puppet_agent-7.30.0.json
  spec/fixtures/controlrepos/vendored/spec/vendored_modules/zone_core-puppet_agent-8.6.0.json
Labels: enhancement

#343 rubocop: autofix
  .rubocop_todo.yml
  Gemfile
  Rakefile
  features/step_definitions/common.rb
  features/support/cache_helper.rb
  features/support/command_helper.rb
  features/support/controlrepo_helper.rb
  lib/onceover/beaker.rb
  lib/onceover/beaker/spec_helper.rb
  lib/onceover/controlrepo.rb
  lib/onceover/logger.rb
  lib/onceover/node.rb
  lib/onceover/rake_tasks.rb
  lib/onceover/rspec/formatters.rb
  lib/onceover/test.rb
  lib/onceover/testconfig.rb
  onceover.gemspec
  spec/onceover/controlrepo_spec.rb
Labels: enhancement
